<%inherit file="/common/base.html" />
<%namespace name="tag_utils" file="/tags/_tag_utils.html" />

<%def name="title()">
  % if selected_tag:
    ${selected_tag}
  % else:
    Projects
  % endif
</%def>
<%def name="breadcrumb()">
  <a href="${url(controller='pages', action='show', id='1')}">Home</a>
  &nbsp;>>&nbsp;
  % if selected_tag:
    <a href="${url('projects')}">Projects</a>
    &nbsp;>>&nbsp;
    ${selected_tag}
  % else:
    Projects
  % endif
</%def>
<%def name="sidebar()">
  ${tag_utils.tag_list('project_categories', tags, selected_tag)}
</%def>


% if len(projects):
  <ul class="projects">
  <% counter = 0 %>
  % for project in projects:
    % if counter % 2 == 0:
    <li class="odd">
    % else:
    <li class="even">
    % endif
      <a href="${url.current(action='show', id=project.id)}">${project.title}</a>
    </li>

    <% counter += 1 %>
  % endfor
  </ul>

  <div class="pager">${ projects.pager('$link_previous  ~2~  $link_next') }</div>
% else:
  <p>No projects have yet been created.</p>
% endif

<div class="clear"></div>
