<%inherit file="/common/base.html" />
<%namespace name="tag_utils" file="/tags/_tag_utils.html" />

<%def name="title()">
  % if selected_tag:
    ${selected_tag}
  % else:
    Projects
  % endif  
</%def>
<%def name="breadcrumb()">
  <a href="${url(controller='pages', action='show', id='1')}">Home</a>
  &nbsp;>>&nbsp;
  % if selected_tag:
    <a href="${url('projects')}">Projects</a>
    &nbsp;>>&nbsp;
    ${selected_tag}
  % else:
    Projects
  % endif
</%def>
<%def name="sidebar()">
  ${tag_utils.tag_list('project_categories', tags, selected_tag)}
</%def>


% if len(projects):
  <ul class="projects">
  <% counter=1 %>
  % for project in projects:
    % if counter == 1:
      <li class="leftEdge">
    % elif counter == 4:
      <li class="rightEdge">
    % else:
      <li>
    % endif

    ## TODO: Move reference to file.cm.com to a global variable or config file
    <a href="${url.current(action='show', id=project.id)}">
      ${h.image('http://files.chrismoylan.com' + project.indexImage, project.title)}
      <span class="title">${project.title}</span>
    </a>
    </li>
    % if counter == 4:
      <% counter = 1 %>
    % else:
      <% counter += 1 %>
    % endif
  % endfor
  </ul>

  <div class="pager">${ projects.pager('$link_previous  ~2~  $link_next') }</div>
% else:
  <p>No projects have yet been created.</p>
% endif

<div class="clear"></div>
