<%inherit file="/common/base.html" />

<%def name="title()">
  % if selected_tag:
    ${selected_tag}
  % else:
    Journal
  % endif  
</%def>
<%def name="breadcrumb()">
  <a href="${url(controller='pages', action='show', id='1')}">Home</a>
  &nbsp;>>&nbsp;
  % if selected_tag:
    <a href="${url(controller='journal', action='index')}">Journal</a>
    &nbsp;>>&nbsp;
    ${selected_tag}
  % else:
    Journal
  % endif
</%def>
<%def name="sidebar()">
  % if len(tags) > 0:
    <div id="side">
      <h2>Categories</h2>
      <ul>
      % for tag in tags:
        % if tag == selected_tag:
          <li class="active">
        % else:  
          <li>
        % endif
          <a href="${url('journal_categories', id=tag)}">${tag}</a>
        </li>
      % endfor
      </ul>
    </div>
  % endif
</%def>


% if len(blogs):
  <ul class="journal">
  <% counter=0 %>
  % for blog in blogs:
    % if counter % 2 == 0:
      <li class="odd"> 
    % else:
      <li class="even"> 
    % endif
    <a href="${url.current(action='show', id=blog.id)}">${blog.title}</a>
      <span class="date">${blog.date.strftime("%d %b %Y")}</span>
    </li>
    <% counter += 1 %>
  % endfor
  </ul>

  <div class="pager">${ blogs.pager('$link_previous  ~2~  $link_next') }</div>
% else:
  <p>No blogs have yet been created. <a href="#">add one</a></p>
% endif


