<%inherit file="/common/base.html" />

<%def name="title()">Journal</%def>

% if len(blogs):
  <ul class="journal">
  <% counter=0 %>
  % for blog in blogs:
    % if counter % 2 == 0:
      <li class="odd"> 
    % else:
      <li class="even"> 
    % endif
    <a href="${url.current(action='show', id=blog.id)}">${blog.title}</a>
      <span class="date">${blog.date.strftime("%d %B %Y")}</span>
    </li>
    <% counter += 1 %>
  % endfor
  </ul>

  <div class="pager">${ blogs.pager('$link_previous  ~2~  $link_next') }</div>
% else:
  <p>No blogs have yet been created. <a href="#">add one</a></p>
% endif
