<%!
    import markupsafe

    def fixblog(text):
        if text.find('<p>', 0, 15) == -1:
            return '<p>' + text + '</p>'
        else:
            return text

    def fixcomment(text):
        comment = str(markupsafe.escape(text))
        return comment.replace("\n", "<br />")
%>



<%inherit file="/common/base.html" />


<%def name="top()">
% if blog.next() is not None:
  <a href="/journal/${blog.next().id}" style="float:right">${blog.next().title}&nbsp;&nbsp;&gt;</a>
% endif

% if blog.prev() is not None:
  <a href="/journal/${blog.prev().id}">&lt;&nbsp;&nbsp;${blog.prev().title}</a>
% endif
</%def>
<%def name="title()">${blog.title}</%def>
<%def name="breadcrumb()">
<a href="${url(controller='pages', action='show', id='1')}">Home</a>
&nbsp;>>&nbsp;
<a href="${url(controller='blogs', action='index')}">Journal</a>
&nbsp;>>&nbsp;
${blog.title}
</%def>


<div class="entry content">
  ${blog.entry | n, fixblog}
</div>
<div class="meta">
  Posted on ${blog.date.strftime("%B %d, %Y")} at ${blog.date.strftime("%I:%M %p").lower()}
</div>

${self.top()}

<div id="comments" class="comments">
  % if len(blog.comments):
    <h2 class="page-header">Comments:</h2>
    % for comment in blog.comments:
    <fieldset class="comment">
      <legend>${comment.name}</legend>
      ${comment.content | n, fixcomment}
      <div class="posted">${comment.created.strftime("%B %d, %Y")} at ${comment.created.strftime("%I:%M %p").lower()}</div>
    </fieldset>
    % endfor

  % else:
  <h3 class="empty">No comments have been posted</h3>
  %endif

  <h2 class="page-header">Leave a comment:</h2>
  <form method="post" id="comment-form" class="comment-form" action="/journal/${blog.id}/comments/create">
    ${comment_form | n}
    <input type="submit" value="Post Comment" />
  </form>
</div>
