<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head profile="http://www.w3.org/2000/08/w3c-synd/#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${self.title()} | chrismoylan</title>
      <link href="/admin.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="header">
      <div class="inner">
        <a href="/" id="logo" title="">chrismoylan</a>
        <ul class="primary navigation" id="navigation">
          <!--li><a href="/journal" class="selected">journal</a></li-->
          <li><a href="/journal">pages</a></li>
          <li><a href="/portfolio">blags</a></li>
          <li><a href="/about">projects</a></li> 
          <li><a href="/about">photos</a></li> 
          <li><a href="/tags/index">tags</a></li> 
        </ul>
      </div>
    </div>

    <div id="wrapper">
      <h1>${self.title()}</h1>
      ${self.flash()}
      <div class="content edit">
        ${next.body()}
      </div>
      <div class="meta">${self.meta()}</div>

    </div> <!-- End Wrapper -->
  </body>
</html>

<%def name="title()"></%def>
<%def name="flash()"></%def>
<%def name="meta()"></%def>
