<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head profile="http://www.w3.org/2000/08/w3c-synd/#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${self.title()} | chrismoylan</title>
      <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
      <!-- TODO possibly make that a stylesheet link -->
  </head>

  <body>
    <div id="wrapper">
      <h1>${self.title()}</h1>
      <div class="none">
        Skip to:&nbsp;<a href="#navigation">Navigation</a>
      </div>
      <!--div class="breadcrumb"><a href="/">Home</a>&nbsp;&nbsp;>> </div-->
      <div class="breadcrumb">${self.breadcrumb()}</div>
      ${self.flash()}
      <div class="content" id="content">
        ${next.body()}
      </div>
      <!--div class="meta">Page was last updated on September 13, 2010 at 01:25 am</div-->


      <div id="footer">
        <ul class="inline-menu left font-14">
          <li><a href="${url('journal')}">journal</a> - </li>
          <li><a href="#">projects</a> - </li>
          <li><a href="#">about</a></li>
        </ul>
        % if 'user' in session:
        <ul class="inline-menu right font-14">
          <li><a href="/users/logout">Logout</a></li>
        </ul>
        % endif
        <div class="center">
          <a href='http://www.catb.org/hacker-emblem/'>
            <img src='http://chrismoylan.com/css/images/glider-small.png' alt='hacker emblem' border='0' />
          </a>
        </div>
      </div>
    </div> <!-- End Wrapper -->

    <!-- Position atop content -->
    <div id="header">
      <div class="inner">
        <!--a href="${url(controller='pages', action='show', id='1')}" id="logo" title="">chrismoylan</a-->
        <a href="${url('home')}" id="logo" title="">chrismoylan</a>
        <ul class="primary navigation" id="navigation">
          <!--li><a href="/journal" class="selected">journal</a></li-->
          <li><a href="${url('journal')}">journal</a></li>
          <li><a href="#">projects</a></li>
          <li><a href="#">about</a></li> 
        </ul>
        <div class="none">
          Skip to:&nbsp;<a href="#content">Content</a>
        </div>
      </div>
    </div>

  </body>
</html>

<%def name="title()"></%def>
<%def name="flash()"></%def>
<%def name="breadcrumb()"><a href="/">Home</a>&nbsp;&nbsp;>> </%def>

