#side {width:130px; position:absolute; top:125px; left:-150px; background:#ddd; border:1px solid #b6b6b6;}

#side h2 {text-align:center; color:#222; display:block; height:30px; line-height:30px; border:0; border-bottom:2px solid #ccc; font-size:18px; margin:0; padding:2px 5px;}
#side ul {list-style:none;}
#side a {display:block; padding:5px;}
#side a:hover {background:#ccc; text-decoration:none;}
#side .active, #side .active a:hover {background:#bbb;}
