@font-face {
  /* Regular */
  font-family: "Asana-MathRegular";
  src: url("http://openfontlibrary.org/content/asyropoulos/243/Asana-Math.otf") format("opentype");
  font-weight:  400;
  font-style:   normal;
  font-variant: normal;
  font-stretch: normal;
}@font-face {
  /* Regular */
  font-family: "Asana-MathRegular";
  src: url("http://openfontlibrary.org/content/asyropoulos/243/Asana-Math.ttf") format("truetype");
  font-weight:  400;
  font-style:   normal;
  font-variant: normal;
  font-stretch: normal;
}


* { padding:0; margin:0;/*font-size:100%;*/ }

/*----- Special classes -----*/
.hide{ text-indent:-9999px; outline:0; display:block; }
.clear{clear:both;}
.none{display:none;}
.menu {list-style:none;}
.float-right{float:right; margin:0 0 10px 15px; clear:right;}
.float-left{float:left; margin:0 15px 10px 0; clear:left;}
.float-right:after,
.float-left:after{content: "."; display: block; height: 0; clear: both;visibility: hidden;}
.inner{width:750px; margin:0 auto;}
.center {text-align:center;}
.error-message{border:1px solid red; background:#FFBFBF; padding:2px; margin:10px 0 -1em; display:block;}
.inline-image{padding:5px; text-align:center; border:1px solid #b6b6b6; background:#d6d6d6;}
.inline-image p{padding:5px 0 0; font-size:.8em; margin:0;}
.inline-clear {overflow:hidden;}
.email-link{vertical-align:middle;}

/*----- Link styles -----*/
a{text-decoration: none;}
a:link, a:visited{color:#15af00; /*#15AF2A;*/}
a:hover{text-decoration:underline; /*background:#c6c6c6;*/}
a:active{}

/*body{font-family:"Asana-MathRegular", "Palatino", Times, serif; background:#e6e6e6; line-height:1;}*/
/*body{font-family:"Gerogia", Times, serif; background:#e6e6e6; line-height:1;}*/
body{font-family:"Helvetica", Arial, sans-serif; background:#e6e6e6; line-height:1;}
h1, h2, h3, h4, h5 {font-family:"Palatino", Times, serif; font-weight:normal; color:#222; margin:20px 0;}
h2, h3, h4, h5 {padding:10px 0; border:1px dotted #bbb; border-width:1px 0; clear:both;}
h1 {font-size:35px;}
h2 {font-size:28px;}
h3 {font-size:25px;}
h4 {font-size:22px;}
h5 {font-weight:bold;}
p {font-size:18px; line-height:1.5; margin:0 0 25px;}

/*----- Page Elements -----*/
#wrapper {width:750px; padding:10px 0 0; margin:65px auto 0;}
#header {width:100%; height:65px; position:absolute; top:0; background:#111; font-size:24px; font-family:"Gerogia", Times, serif;}
#footer {padding:10px 0; margin:25px 0 0; border-top:1px dotted #666;}

#logo {display:block; float:left; padding:5px 10px 5px 0; margin:15px 0 0; color:#73ff87;}
.navigation {list-style:none;}
.navigation.primary {float:right; padding:15px 0 0;}
.navigation li {display:block; float:left;}
.navigation a {display:block; padding:5px 10px; margin:0 5px; color:#eee;}
.navigation a:hover {text-decoration:underline;}
.selected {border:1px dotted #eee;}
a.selected:hover {background:#ddd;}

.page-header {border-color:#888; border-style:solid;}
.breadcrumb {padding:0 0 10px; margin:8px 0 15px; font-size:14px; border-bottom:1px solid #888;}
.meta {margin:8px 0; font-size:14px; text-align:right; color:#3f3f3f; clear:both;}
.inline-menu {text-align:right;}
.inline-menu li {display:inline;}
#flash {border:1px solid yellow; background:#fff8ab; margin:15px 0; padding:20px 15px 0;}

.font-14 {font-size:14px;}

/*----- Journal Styles ------*/
ul.journal {list-style:none;}
.journal > li {padding: 5px; line-height:100%; font-size: 16px;}
.journal > li:hover {background:#ccc;}
.date {float:right;}
.pager {text-align:center;}
.odd {background: #ddd;}

fieldset.comment {margin:0 0 1em; padding:10px 10px 5px; border:1px solid #aaa; line-height:1.1;}
.comment legend {padding:0 10px;}
.posted {text-align:right; padding:5px 0; font-size:14px; color:#3F3F3F;}

.comment-form div {margin:0 0 15px;}
.comment-form label {display:block; width:90px; float:left; padding:10px 0 0;}
.comment-form label:after {content:":"}
.comment-form .instructions {display:block; padding:5px 0 5px 90px;}
.comment-form input[type=text],
.comment-form textarea {display:block; width:400px; padding:5px; border:2px solid #666; font-size:18px;}
.comment-form input[type=submit] {width:auto; margin:0 0 0 90px;}
.comment-form textarea {height:200px;}
.comment-form input[type=text]:hover,
.comment-form textarea:hover {background:#dfffe3;}
.comment-form .field_error {width: 400px; border:2px dashed #ff0000; padding:5px; margin:5px 5px 5px 90px; display:block; background:#ffa5a5;}


/*--- Portfolio Styles ---*//*
.main-image{float:left; margin:0 15px 15px 0;}
.portfolio{margin:15px 0 0;}
.portfolio .link{margin:0 0 15px;}
.image-list li{width:154px; height:200px; float:left; margin:0 33px 10px 0; text-align:center;}
.image-list li.end{margin-right:0;}
.image-list li a img{border:2px solid #15AF2A;}
.image-list li .title a{display:block; color:#000; padding:2px 0;}
.image-list li .title a:hover{background:#5b5b5b; color:#fff; text-decoration:none;}
.image-list li a:hover img{border-color:#666;}

/*--- Photo Styles ---*//*
.photo-container{text-align:center;}
.next-photo{width:50%; float:right; text-align:right;}
.prev-photo{width:50%; text-align:left;}
.photo-link{display:block; margin:0 0 .5em;}
.photo-group{display:none;}
.photo-group.active{display:block;};
*/
